<p>	Here is a simple diagram of how functions work together</p>
<img src="IMG_20160904_114200.jpg"/>
<br/>
<p> Here is a flow chart of how the entire program works, each of the picture bellow it are just it zoomed in. The zoomed in pictures each focuses on a specific function </p>
<img src="IMG_20160904_114206.jpg">